@await Component.InvokeAsync("MyComponent", new { message = "Salut din componentă!" })





<h2>
    <i class="bi bi-emoji-laughing"></i>
    Welcome, all!
</h2>
<!-- <ul id="usersList"></ul>-->


<script>
    fetch('/api/Users')
      .then(res => res.json())
      .then(data => {
          const ul = document.getElementById('usersList');
          ul.innerHTML = data.map(u => `<li>${u.name}</li>`).join('');
      });
</script>
