
<div class="card" style="width: 18rem; background-color: #f8d7da; color: #721c24;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Dummy title</h5>
        <p class="card-text">Dummy Description</p>
        <a href="#" class="btn btn-primary">Btn</a>
    </div>
</div>
