html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.ui-autocomplete {
    z-index: 1051 !important; /* for modals or dropdowns */
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid #ced4da;
    max-height: 200px;
    overflow-y: auto;
}
.ui-helper-hidden-accessible {
    display: none !important;
}



.pageBtndpd {
    font-size: 1.5rem !important;
    color: black !important;
    text-decoration: none !important;
}

    .pageBtndpd.done, .nav-link.done {
        font-weight: bold;
        color: lightslategrey !important;
        border-bottom: 3px solid lightslategrey;
        padding-bottom: 2px;
    }