@model LearningProject.Models.User

@{
    ViewData["Title"] = "Create";
}


<div class="container mt-4">
    <div class="card shadow-lg border-0">

        <div class="card-header bg-primary text-white d-flex justify-content-center align-items-center">
            <h4 class="mb-0">Adauga user nou</h4>
        </div>


        <hr />
        <div class="card-body">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- Fără IdUser, nu se cere în form -->

                    <div class="form-group">
                        <label>Username</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="id_departament" class="control-label"></label>
                        <select asp-for="id_departament" class="form-control"
                                asp-items="ViewBag.id_departament">
                            <option value="">-- Selectează un departament --</option>
                        </select>
                        <span asp-validation-for="id_departament" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="roluriID" class="control-label"></label>
                        <select asp-for="roluriID" class="form-control"
                                asp-items="ViewBag.roluriID">
                            <option value="">-- Selectează un rol --</option>
                        </select>
                        <span asp-validation-for="roluriID" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-4">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
