@model LearningProject.Models.Cereri


<div class="modal-header">
    <h5 class="modal-title">Confirmare ștergere</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <p>Ești sigur că vrei să ștergi cererea <strong>@Model.Name</strong>?</p>
    <p class="text-muted">
        <small>Creată de: <strong>@Model.CreatedByUser?.Username</strong></small><br />
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anulează</button>
    <button type="button" class="btn btn-danger" onclick="deleteCerere(@Model.Id)">
        <i class="bi bi-trash"></i> Șterge definitiv
    </button>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

}
