@model LearningProject.Models.ViewModels.CreateNewCerereModel

@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h1>Creează o cerere nouă</h1>
    <hr />
</div>


<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label>Denumire Cerere</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label>Descriere</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label>Nr. crt</label>
                <input asp-for="Value" type="number" step="0.01" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        const valueInput = document.querySelector("input[name='Value']");

        if (valueInput) {
            // Blochează literele și simbolurile care nu au sens pentru numere întregi
            valueInput.addEventListener("keydown", e => {
                if (["e", "E", "+", "-", "."].includes(e.key)) e.preventDefault();
            });

            // Permite doar cifre
            valueInput.addEventListener("input", e => {
                e.target.value = e.target.value.replace(/\D/g, ''); // elimină tot ce nu e cifră
            });
        }
    </script>
}